<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div th:each="pedido : ${pedidos}">
    <div th:text="${pedido.productName}">Nome do produto</div>
    <div>Valor: <span th:text="${pedido.price}">200,99</span></div>
    <div>Data de entega: <span th:text="${pedido.deliveryDate}">10/02/2020</span></div>

    <div>Produto</div>
    <div><input type="text" th:value="${pedido.productUrl}" value="url do produto"></div>

    <div>Descricao</div>
    <div>
      <textarea name="descricao" th:text="${pedido.description}" id="descricao" cols="30" rows="10">descricao do pedido</textarea>
    </div>

    <div>
      <img th:src="${pedido.imageUrl}" src="" alt="">
    </div>
  </div>
</body>
</html>