<!DOCTYPE html>
<html lang="en">
  <head th:replace="~{base :: head}"></head>
  <body>
    <div th:replace="~{base :: logo}"></div>
    <div class="container">
      <div th:replace="~{base :: titulo('Meus Pedidos')}"></div>
      <nav class="navbar navbar-expand-sm navbar-light bg-light d-flex justify-content-between mb-3">
        <div class="navbar-nav">
          <a href="" class="navbar-item nav-link active">Todos</a>
          <a href="" class="navbar-item nav-link">Aguardando</a>
          <a href="" class="navbar-item nav-link">Aprovado</a>
          <a href="" class="navbar-item nav-link">Entregue</a>
        </div>
        <a href="/pedido/formulario"><button class="btn btn-outline-secondary my-2 my-sm-0">Novo</button></a>
      </nav>

      <div th:each="pedido : ${pedidos}" class="card">
        <div class="card-header" th:text="${pedido.productName}">
          Nome do produto
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-8 mb-3">
              <div class="row mb-3">
                <div class="col-md-5">Valor: <span th:text="${pedido.price}">200,99</span></div>
                <div class="col-md-7">
                  Data de entega:
                  <span th:text="${pedido.deliveryDate}">10/02/2020</span>
                </div>
              </div>
  
              <div>Produto</div>
              <div>
                <input
                  class="form-control"
                  type="text"
                  th:value="${pedido.productUrl}"
                  value="url do produto"
                />
              </div>
  
              <div>Descricao</div>
              <div>
                <textarea
                  class="form-control"
                  name="descricao"
                  th:text="${pedido.description}"
                  id="descricao"
                  cols="30"
                  rows="2"
                >
                  Descricao do pedido
                </textarea>
              </div>
            </div>
  
            <div class="col-12 col-sm-4">
              <div>
                <img class="img-thumbnail" th:src="${pedido.imageUrl}" src="" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
